.text{
    color: blue;
} 
.slogan{
    color: rgb(10, 139, 10);
} 
.code{
    background: #c26f6f;
    width: max-content;
} 
.error{
    background-color: blue;
    width: max-content;
} 
.student{
    margin-bottom: 20px;
} 
.student table{
    border: 1px solid #c26f6f;
    width: 300px;
    border-collapse: collapse;
} 
.student table td, .student table th{
    text-align: left;
    border: 1px solid #c26f6f;
    padding: 5px 10px;
}
.student table th{
    width: 100px;
} 